.titleEmployees {
  padding: 0.5rem 0 1.5rem 0;
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--color-text);
}

.employeesInput {
  padding-bottom: 1rem;
}

.employeeTable, .employeeList {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;
}

.employeeList {
  color: var(--color-text);
  font-weight: 500;
}

.employeeCard {
  padding: 0.8rem 1rem;
  background-color: var(--white);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  margin-top: 1px;
}

.headerList {
  background-color: var(--table-header);
  color: var(--white);
  padding: 0.875rem 1.46875rem 0.8rem 0.96875rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.headerList span {
  margin-right: 1.5rem;

}

.pointHeader {
  background-color: var(--white);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.employeeHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
}

.employeeHeaderInfo {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.5rem;
}

.profilePhoto {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.employeeInfoOpen {
  padding: 1.96875rem 0rem;
}

.employeeInfoOpen div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
  
.employeeInfoOpen .titleInfo {
  font-weight: 500;
}

.employeeInfoOpen span {
  font-weight: 400;
}

.toggleIcon {
  cursor: pointer;
}

.tableContainer {
  display: none;
}

@media screen and (min-width: 1024px) {
  .titleEmployees {
    padding: 0.75rem 0 0 0;
    font-weight: 500;
    font-size: 1.25rem;
  }

  .employeesInput {
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
    justify-content: space-between;
    padding-bottom: 2.75rem;
  }

  .employeeList {
    display: none;
  }

  .tableContainer {
    background-color: var(--white);
    display: block;
  }

  .employeeTable {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.13);
  }

  .employeeTable thead {
    padding: 1rem 0rem;
    background-color: var(--table-header);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  }

  .employeeTable th {
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  .employeeTable tr {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  }

  .employeeTable th, .employeeTable td {
    padding: 1rem 2rem;
    text-align: left;
  }

  .employeeTable tbody {
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-text);
  }
}
