:root {
  --background: rgba(240, 240, 240, 1);
  --table-header: #0500FF;
  --color-text: #1C1C1C;
  --white: #FFFFFF;
  --light-gray: #DFDFDF;
  --gray: #9E9E9E;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

html,
body {
  max-width: 100vw;
  background-color: var(--background);
  font-family: "Roboto", sans-serif;
}
